---
layout: default
---
<div id='post-page'>
	<div id="post">
	  <h2>{{ page.title }}</h2>

	  <p class="meta">
	    <span class="date">{{ page.date | date: '%a, %d %b %Y' }}</span>  <span class="categories">	[ {{ page.categories | array_to_sentence_string }} ]</span>  <span class="tags">	[ {{ page.tags | array_to_sentence_string }} ]</span>
	  </p>

		<p class="comments">
			Post comments: <a href='{{ post.url }}#disqus_thread'>View Comments</a>
		</p>
  
	  {{ content }}

	<hr />
	
	</div>

	<div id="comments">
		<div id="disqus_thread"></div>
		<script type="text/javascript">
		  (function() {
		   var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		   dsq.src = 'http://youhhoo.disqus.com/embed.js';
		   (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		  })();
		</script>
		<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=youhhoo">comments powered by Disqus.</a></noscript>
		<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
		
	</div>
	
</div>